127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for v in app_common_hosts %}
{{ v.ip_address }} {{ v.hostname }}
{% endfor %}
